.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  flex-direction: column;
  gap: 10rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}   